body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald";
  color: #fbbf24;
  text-shadow: 2px 2px 2px #000000;
  background: linear-gradient(#e66465, #9198e5);
}

ul,
li {
  all: unset;
  list-style: none;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #dc2626, #b91c1c);
  border: 10px solid #991b1b;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
}

.header {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.toy-name {
  font-size: 40px;
}

.toy-name--cursive {
  font-family: "Grechen Fuemen", cursive;
  font-size: 60px;
}

#grid-container {
  width: 1000px;
  height: 600px;
  display: flex;
  background-color: #e2e8f0;
  border: 1px solid black;
  cursor: pointer;
}

.grid-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.grid-item {
  display: flex;
  flex-grow: 1;
}

.grid-item--border {
  border: 1px solid #a1a1aa;
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

button,
#color-picker {
  background-image: linear-gradient(to right, #ef4444, #dc2626);
  font-size: 28px;
  font-family: "Oswald";
  color: #fbbf24;
  width: 150px;
  height: 70px;
  border: 1px solid black;
  border-radius: 10px;
  text-shadow: 2px 2px 2px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

button:hover,
#color-picker:hover,
#grid-size-slider:hover {
  background-image: linear-gradient(to right, #dc2626, #b91c1c);
}

button:active {
  transform: scale(0.9);
}

#color-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#color-picker > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  width: 45px;
  height: 45px;
  transition: transform 0.2s ease-in-out;
}

input[type="color"]:hover {
  transform: scale(1.1);
}

input[type="color"]:active {
  transform: scale(0.9);
}

input[type="color"]::-webkit-color-swatch {
  cursor: pointer;
  border: none;
  border-radius: 9999px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

#grid-size-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider--items {
  flex-grow: 1;
  background-image: linear-gradient(to right, #ef4444, #dc2626);
  border: 1px solid black;
  border-radius: 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}

#slider--items > li {
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  display: flex;
  flex-grow: 1;
}

/* The following styles has been influenced by the following article:
https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fbbf24;
  border: 1px solid black;
  border-radius: 20px;
  height: 20px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #fbbf24;
  border-radius: 20px;
  height: 100%;
}

input[type="range"]:focus {
  outline: none;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 9999px;
  background: #dc2626;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 9999px;
  background: #dc2626;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 9999px;
  background: #dc2626;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #b91c1c;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #b91c1c;
}

input[type="range"]::-ms-thumb:hover {
  background: #b91c1c;
}

footer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 24px;
  color: black;
  padding-bottom: 12px;
}

#footer-text {
  margin-left: 4px;
  margin-right: 4px;
  text-shadow: none;
}

#github-icon {
  width: 28px;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
